<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digi_yatra_12">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Digi_Yatra_12"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.PopAcknowledgementDialogActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false"></activity>
        <activity
            android:name=".fragments.Camera_profile2"
            android:exported="false" />
        <activity
            android:name=".fragments.Alomst_done"
            android:exported="false" />
        <activity
            android:name=".fragments.RetrivedAadharDataActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.AddDataUrlActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.Credential_Choose"
            android:exported="false"></activity>
        <activity
            android:name=".fragments.pop_crediential"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.CustomTheme" />
        <activity
            android:name=".Pop_sucess_register"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.CustomTheme" />
        <activity
            android:name=".navbar.NavbarMainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".signup.Otp_page"
            android:exported="false" />
        <activity
            android:name=".signup.Signup"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>